/*-------------------------------------------------------------------------------------------*/
/* reset
/*-------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}

/* remember to define focus styles! */
:focus {
        outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
        text-decoration: none;
}
del {
        text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}


/*-------------------------------------------------------------------------------------------*/
/* alle pagina's css */
/*-------------------------------------------------------------------------------------------*/
body {
  min-height: 100vh;
}
body{
	width: 100%;
	height: 100%;
	font-family: Trebuchet,sans-serif;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #959595; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595',endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */   
	margin-top: 0px;
}
#vulling{
	min-height: 30px;
}
#inhoud{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-bottom: 5%;
	line-height: 1.35em;
	font-family: arial, verdana, sans-serif;
	width: 1000px;
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 10%, rgba(255,255,255,0.8) 94%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(10%,rgba(255,255,255,0.8)), color-stop(94%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 94%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 94%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 94%,rgba(255,255,255,0.8) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 94%,rgba(255,255,255,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff',endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#header{
	width: 1001px;
	height: 300px;
	background-image: url("../images/front.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;

}
#header h1{
    margin-top: 0px;
    text-indent:-99999px   
}
#logo{
	border-top-width: medium;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/red-metal-texture-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 50px;
	margin-top: 0px;
}

h1{
	padding-left: 80px;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 0px;
	color: #C2C1C4;
	height: auto;
}
h2{
    padding-top:20px;
}
#nav {
    margin-top: 0px;
	position: relative;
	width: 70%;
	float: right;
	bottom: 28px;
	padding: 0;
	list-style: none;
	height: auto;
	left: -17px;
}
#nav li {
	float: left;
	margin-top: 0px;
	padding-right: 0px;
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #ACABAD;
	margin-left: 8px;
	left: 5px;
}
#nav li a:hover,#nav li a:focus {
        color: #fff; 
}
#nav .current a {
        background: #C2C1C4;
        color: black;
        border-radius: 5px;
}
#tekst{
	clear: both;
	margin-top: 0px;
	padding-left: 80px;
	width: 620px;
	padding-bottom: 30px;
}

#link:hover{
    text-decoration: none;    
}
#link:visited{
    color:black;
}
#link{
    color:black;
}
#bodemcontainer{
	color: #C2C1C4;
	border-top-color: #000;
	position: relative;
	font-size: 11px;
	border-top-width: medium;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/red-metal-texture-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	width: 1001px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding-bottom: 10px;
}
.mail{
    color:#ACABAC;
}
.mail:hover{
    text-decoration: none;    
}
.mobilesOnly {
    display:none;
    color:#C2C1C4;
}
div.linkercontainer{
	text-align: left;
	width: 200px;
	height: auto;
	left: 0;
	margin-top: 6px;
	padding-left: 74px;
	line-height: 11px;
}
div.rechtercontainer{
	text-align: left;
	width: auto;
	height: 60px;
	bottom: 5px;
	position: absolute;
	min-width: 0px;
	line-height: 14px;
	right: 80px;
}
img#voorkant{
    position: relative; 
    width:100%;
    height:300px;
    bottom: 60px;
}

/*-------------------------------------------------------------------------------------------*/
/* home */
/*-------------------------------------------------------------------------------------------*/

.alert{
	position: absolute;
	width: 160px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: double;
	background-color: #C7C7C7;
	right: 80px;
	top: 391px;
}

/*-------------------------------------------------------------------------------------------*/
/* onderhoud */
/*-------------------------------------------------------------------------------------------*/

.fotobox{
	height: 140px;
	width: auto;
	padding: 2px;
	border: 1px solid #333;
	margin-left: 80px;
	margin-top: 3px;
	float: left;
}
a:hover .fotobox{
    border-color:#888;
}

.vak{
    width:100%;
    padding-top:10px;
    height:auto;
    overflow: hidden;
   
}
.tekstvak{
    width:60%;
    margin-left:290px;
}

img#werkplaats{
    padding-top:20px;
    width:90%;
}
h3{
    text-transform:none;
}


/*-------------------------------------------------------------------------------------------*/
/* over ons */
/*-------------------------------------------------------------------------------------------*/

#teller{
	position: absolute;
	width: 175px;
	height: 175px;
	top: 394px;
	left: 750px;
}

/*-------------------------------------------------------------------------------------------*/
/* Verkoop */
/*-------------------------------------------------------------------------------------------*/
#persgeg{
    padding-top:10px;
}
dt{
    padding-top:10px;
}
#lijst{
    padding-left: 70px;
    padding-bottom:20px;
 
    width:40%;
}
#verzend{
    padding-top:20px;
}
#aanbod:hover{
	text-decoration: none;
	width: auto;
}
#aanbod:visited{
    color:black;
}
#aanbod{
	color: black;
	position: absolute;
	top: 70%;
	margin-left: 636px;
	margin-top: 30px;
}

#toonzaal{
	/*position:absolute;*/
	height: 250px;
	margin-left: 80px;
}

/*-------------------------------------------------------------------------------------------*/
/* aanbod */
/*-------------------------------------------------------------------------------------------*/
.lightbox_hide_image{
	width: auto;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	border: 1px solid #333;
	height: 32.5px;
	margin-left: -1px;
	margin-right: -1px;
}
.aanbod_tekst{
	width: 50%;
	margin-left: 393px;
}
.vak{
	padding-bottom: 20px;
	margin-left: 0px;
}
.foto_vak{
	width: 300px;
	padding: 1px;
	margin-left: 80px;
	margin-top: 154px;
	position: absolute;
}
.vak_aanbod{
    width:100%;
    padding-top:10px;
    height:auto;
    overflow: hidden;
   
}
.fotobox2 {
	height: 140px;
	width: auto;
	padding: 2px;
	border: 1px solid #333;
	margin-left: 80px;
	margin-top: 3px;
	float: left;
}

/*-------------------------------------------------------------------------------------------*/
/* contact */
/*-------------------------------------------------------------------------------------------*/
#contactinhoud{
    float:left;
    padding-right:20px;
}
#map{
	margin-left: 70px;
	height: 250px;
	width: 250px;
	position: static;
}
#contactinfo{
	width: 530px;
	overflow: hidden;
}

div.linker{
	margin-left: 50px;
	text-align: left;
	width: auto;
	height: 260px;
	left: 0;
	float: left;
}
div.rechter{
	text-align: left;
	overflow: inherit;
	position: absolute;
	left: 662px;
}
#route{
    color:black;
}
#LME_maplinks{
       margin-left:140px;

}
#route:hover{
    text-decoration: none;    
}
.mail2{
    color:black;
}
.mail2:hover{
    text-decoration: none;    
}
#tel{
        color: black;
        text-decoration: none;
        visibility: inherit;
}

/*-------------------------------------------------------------------------------------------*/
/* <768px width*/
/*-------------------------------------------------------------------------------------------*/

@media(max-width:768px){
#inhoud{
	font-size: 12px;
	width: 720px;
}
.foto_vak{
	margin-left: 40px;
	width: 260px;
}
#header {
        width: 100%;
        height: 200px;
    background-image: url(../images/front.jpg);

}
#toonzaal{
    width:230px;
    height:150px;
    margin-left:7%;
}
h1{
	padding-left: 40px;
	font-size: 13px;
	margin-left: 0px;
	margin-top: 6px;
}
#tekst{
    padding-left: 40px;
}
#nav{
	font-size: 12px;
	width: 77%;
	bottom: 25px;
	left: 1px;
}

.alert{
    visibility: hidden;
}
#huurauto{
    position:absolute;
    width:230px;
    height:119px;
    margin-top:50px;
    margin-left:41%;
}
#teller{
	position: static;
	width: 150px;
	height: 120px;
	margin-left: 531px;
}
div.linker{
    text-align: left;
    width:auto;
    
     
}
#contactinfo{
	width: 300px;
	height: 17%;
	margin-left: -60px;
}
#map{
    margin-left:40px;
    height:200px;
    width:200px;
}
#LME_maplinks{
    margin-left:70px;

}

/*-------------------------------------------------------------------------------------------*/
/* aanbod */
/*-------------------------------------------------------------------------------------------*/
.lightbox_hide_image {
	width: auto;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	border: 1px solid #333;
	height: 32.6px;
	margin-right: 0px;
	margin-top: 0px;
}
    .aanbod_tekst {
	width: 40%;
	margin-left: 357px;
}
#aanbod {
	color: black;
	position: absolute;
	top: 70%;
	margin-left: 455px;
	margin-top: 30px;
}
.fotobox2 {
	height: 140px;
	width: auto;
	padding: 2px;
	border: 1px solid #333;
	margin-left: 40px;
	margin-top: 3px;
	float: left;
}
/*-------------------------------------------------------------------------------------------*/
/* onderhoud */
/*-------------------------------------------------------------------------------------------*/

.fotobox {
	height: 140px;
	width: auto;
	padding: 2px;
	border: 1px solid #333;
	margin-left: 40px;
	margin-top: 3px;
	float: left;
}
.tekstvak {
	width: 40%;
	margin-left: 250px;
	padding-bottom: 0px;
}

div.linkercontainer {
	text-align: left;
	width: 200px;
	height: auto;
	left: 0;
	margin-top: 6px;
	padding-left: 43px;
	line-height: 11px;
}
.vak_aanbod {
	width: 100%;
	padding-top: 10px;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
}
#bodemcontainer {
	color: #C2C1C4;
	border-top-color: #000;
	position: relative;
	font-size: 11px;
	border-top-width: medium;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/red-metal-texture-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	width: 720px;
	height: 60px;
	margin-right: auto;
	margin-bottom: auto;
	padding-bottom: 10px;
	padding-top: 0px;
}
div.rechtercontainer {
	text-align: left;
	width: auto;
	height: 60px;
	bottom: 5px;
	position: absolute;
	min-width: 0px;
	line-height: 14px;
	right: 40px;
}
#logo {
	border-top-width: medium;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/red-metal-texture-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 32px;
	padding-top: 2px;
	padding-bottom: 1px;
}
#nav li a {
	display: block;
	padding-top: 4px;
	padding-right: 9px;
	padding-left: 12px;
	padding-bottom: 4px;
	text-decoration: none;
	font-weight: bold;
	color: #ACABAD;
	margin-left: 8px;
}
#nav li {
	float: left;
	margin-top: 5px;
	padding-right: 0px;
}
div.rechter {
	text-align: left;
	overflow: inherit;
	position: absolute;
	right: 30px;
	left: 477px;
}
#contactinfo {
	margin-top: 0;
	margin-left: -62px;
}

}

/*-------------------------------------------------------------------------------------------*/
/* <480 width*/
/*-------------------------------------------------------------------------------------------*/

@media (max-width:480px){
body{
    width: 480px;
}
#header {
	width: 101%;
	height: 120px;
	background-image: url(../images/front.jpg);
}
#lijst{
   display:none;
}
#toonzaal{
    position:relative;
    width:230px;
    height:150px;
    margin-left:6%;
    margin-top:0px;
}
#logo{
	height: 23px;
	padding-top: 2px;
}
h1{
	padding-left: 30px;
	font-size: 11px;
	width: 75px;
	margin-top: 0px;
}
#tekst{
    padding-left: 30px;
    width:350px;
}
#nav{
	font-size: 10px;
	width: 77%;
	bottom: 16px;
}
#nav li a {
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 1px;
	margin-bottom: -9px;
	margin-top: -4px;
}
.alert{
    visibility: hidden;

}

#teller{
	position: static;
	width: 150px;
	height: 120px;
	margin-left: 281px;
}

#contactinfo{
	width: 150px;
	margin-top: 0;
	padding-left: 70px;
	margin-left: 0px;
}
div.linkercontainer{
    padding-left:10px; 
}

#bodemcontainer{
	font-size: 9px;
	width: 460px;
}
div.linker{
	float: left;
	padding-bottom: 20px;
	margin-left: -63px;
}
div.rechter{  
    text-align: left;
    padding-left:0;
}

#map{
	margin-left: 30px;
	height: 170px;
	width: 170px;
}
.vak{
	width: 100%;
	padding-top: 0px;
	height: auto;
	overflow: hidden;
	padding-bottom: 20px;
	margin-top: 0px;
}
img#werkplaats{
    padding-top:20px;
    width:90%;
}
h3{
    text-transform:none;
}

.mobilesOnly {
    display:visible;
}
.pcOnly {
    display:hidden;
}
a:tel{
    color:black;
}
.foto_vak {
	margin-left: 30px;
	position: relative;
	margin-top: 0px;
	width: 200px;
	height: 17px;
}
.aanbod_tekst {
	margin-left: 226px;
	position: static;
	margin-top: -20px;
	font-size: x-small;
	width: 230px;
}
div.linkercontainer {
	text-align: left;
	width: 200px;
	height: auto;
	left: 25px;
	margin-top: 6px;
	padding-left: 31px;
	line-height: 11px;
}
.vak_aanbod {
	width: 100%;
	padding-top: 2px;
	height: auto;
	overflow: hidden;
	padding-bottom: 0px;
	margin-top: 5px;
}
#inhoud {
	font-size: 12px;
	width: 460px;
	padding-bottom: 50px;
}
div.rechtercontainer {
	text-align: left;
	width: auto;
	height: 60px;
	bottom: 5px;
	position: absolute;
	min-width: 0px;
	line-height: 14px;
	right: 30px;
}
#nav li {
	float: left;
	margin-top: 4px;
	padding-right: 0px;
}
#aanbod {
	color: black;
	position: absolute;
	top: 70%;
	margin-left: 310px;
	margin-top: 20px;
}
#contactinfo {
	margin-top: 0;
}
div.rechter {
	text-align: left;
	overflow: inherit;
	position: absolute;
	left: 228px;
	bottom: 70px;
	right: 20px;
}

.fotobox2 {
	height: 90px;
	width: auto;
	padding: 2px;
	border: 1px solid #333;
	margin-left: 30px;
	margin-top: 3px;
	float: left;
}
/*-------------------------------------------------------------------------------------------*/
/* aanbod */
/*-------------------------------------------------------------------------------------------*/
.lightbox_hide_image {
	width: auto;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	border: 1px solid #333;
	height: 28px;
	margin-right: 0px;
	margin-top: 2px;
}
/*-------------------------------------------------------------------------------------------*/
/* onderhoud */
/*-------------------------------------------------------------------------------------------*/

.fotobox {
	height: 140px;
	width: auto;
	padding: 2px;
	border: 1px solid #333;
	margin-left: 30px;
	margin-top: 3px;
	float: left;
}
.tekstvak {
	margin-left: 230px;
	padding-bottom: 0px;
	right: 30px;
	width: 200px;
}
    }